{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/shoppingList.js') }}?ver={{ t }}">

</script>
{% endblock %}


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

{% block content %}

<div class="container">
    <h2>




        Sende Shopping list to:
    </h2>

    <div class="btn-group-vertical">
        {% for r  in recipien %}
        <a  href="{{ url_for('emailList',mail_id=  r.id ) }}"
                  type="button" class="btn btn-primary btn-block">
            <span class="glyphicon glyphicon-envelope"></span>
            {{ r.name }} [{{ r.email }}]
        </a>
        {% endfor %}
    </div>




</div>

{% endblock %}
