<!doctype html>
<title>Print List</title>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<style>
 .tg  {border-collapse:collapse;border-spacing:0;width: 640px;}
 .tg td{font-family:Arial, sans-serif;font-size:9px;padding:00px 0px;border-style:dashed;border-width:1px;overflow:hidden;word-break:normal;}
 .tg th{font-family:Arial, sans-serif;font-size:9px;font-weight:normal;padding:00px 0px;border-style:dashed;border-width:1px;overflow:hidden;word-break:normal;}
 .tg .tg-yw4l{text-align:center;vertical-align:top}

 body {
     margin: 0;
     padding: 0;
     background-color: #FAFAFA;
     font: 12pt "Tahoma";
 }
 * {
     box-sizing: border-box;
     -moz-box-sizing: border-box;
 }
 .page {
     width: 21cm;
     min-height: 29.7cm;
     padding: 0.5cm;
     margin: 0.5cm auto;
     #border: 1px #D3D3D3 solid;
     border-radius: 5px;
     background: white;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 }
 .subpage {
     padding: 1cm;
     #border: 5px red solid;
     height: 256mm;
     #outline: 2cm #FFEAEA solid;
 }

 @page {
     size: A4;
     margin: 0;
 }
 @media print {
     .page {
         margin: 0;
         border: initial;
         border-radius: initial;
         width: initial;
         min-height: initial;
         box-shadow: initial;
         background: initial;
         page-break-after: always;
     }
 }

</style>


<bod>
{% block body %}{% endblock %}

</bod>
   
   
 
