{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/shoppingList.js') }}?ver={{ t }}">

</script>
{% endblock %}


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

{% block content %}
<div class="container">
    <h2>
        <a  href="{{ url_for('printShoppingList',pr_type='pdf') }}" class="btn btn-info">
            <span class="glyphicon glyphicon-print"></span>
        </a>
        <a  href="{{ url_for('emailList',mail_id=0 ) }}" class="btn btn-info">
            <span class="glyphicon glyphicon-envelope"></span>
        </a>
        <a  href="{{ url_for('serverProducts',qr_type='shoppinglist', db_id=0) }}" class="btn btn-info">
            <span class="glyphicon glyphicon-list-alt"></span>
        </a>

        <a  href="{{ url_for('index') }}" type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>


        {{ name }}
    </h2>
    <div class="list-group">
        {% for pr in items %}
        <a href="#collapse{{ pr.id }}" data-toggle="collapse" data-parent="#accordion" class="list-group-item">
            <strong>{{ pr.name }} ({{ pr.unit }}):</strong>
            <span id="batche{{ pr.id }}" class="badge">{{ pr.need }}</span>
        </a>

        <div id="collapse{{ pr.id }}" class="panel-collapse collapse ">

            <ul class="list-group">
                <li class="list-group-item">
                    <button onclick="addToShoppingList({{ pr.id }}, 1)"  type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                    <button onclick="addToShoppingList({{ pr.id }}, -1)" type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-minus"></span> Minus
                    </button>
                    </button>
                    <button onclick="deleteShoppingListItems({{pr.id}})" type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                    <li class="list-group-item">

                        <div class="input-group">
                            <input id="quant{{ pr.id }}" type="number" pattern="[0-9]*" class="form-control input-lg" name="msg" placeholder="{{ pr.unit }}">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-lg" onclick="addToShoppingListForm({{ pr.id }})">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </button>
                            </div>
                        </div>

                    </li>

                </li>

                <li class="list-group-item"> {{ pr.default_quantity }} {{ pr.unit }} für ca. {{ pr.prise }} € </br>
                    {{ pr.comment }}
                </li>

            </ul>
        </div>



        {% endfor %}
    </div>
</div>


{% endblock %}
