{% extends "layout.html" %}
{% block body %}

<div class="book">
    {% for ra,re  in pages %}
    <div class="page">
        <div class="subpage">
            <table>                
            {% for r in range(ra,re) %}
            <tr>
                {% for c in range(0,columns) %}
                <td align="center" style="border-style: dashed; border-color: #d9d9d9; border-width: 1px;">
                    <img src="{{ batches[(r*columns)+c][1] }}" alt="Mountain View" style="width:100%;height:100%%;">
                    </br>
                    {{  batches[(r*columns)+c][0] }}
                </td>
                {% endfor %}
            </tr>
            
            {% endfor %}
            
            </table>


        </div>    
    </div>
    {% endfor %}
</div>



{% endblock %}
