{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block scripts %}
{{super()}}

{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

{% block content %}

<div class="container">
    <h2>Einkaufsliste</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
    <table class="table">
        <tbody>
            {% for pr  in products %}
            <tr>

                <td align="left" >
                    {{ pr.name }}

                </td>
                <td align="left" >
                    
                    {{ pr.comment }}
                    
                </td>
                <td align="right" >
                    {{ pr.need }}

                </td>

                <td align="left" >
                    {{ pr.unit }}

                </td>



            </tr>

            {% endfor %}
        </tbody>
    </table>


</div>
</div>

</div>



{% endblock %}
