{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/shoppingList.js') }}?ver={{ t }}">

</script>
{% endblock %}


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 

{% block content %}
<div class="container">

</div>
{% endblock %}
